<div *ngIf="vm$ | async as vm" class="details">
    <ng-container *ngIf="vm.character?.details as details">
        <h3>Character details:</h3>

        <div><b>Name:</b> {{ details.name }}</div>
        <div><b>Description:</b> {{ details.description }}</div>
        <div><b>Height:</b> {{ details.height }}</div>
        <div><b>Mass:</b> {{ details.mass }}</div>
        <div><b>Hair color:</b> {{ details.hair_color }}</div>
        <div><b>Eye color:</b> {{ details.eye_color }}</div>
        <div><b>Skin color:</b> {{ details.skin_color }}</div>
        <div><b>Birth year:</b> {{ details.birth_year }}</div>
        <div><b>Gender:</b> {{ details.gender }}</div>
        <div><b>Created:</b> {{ details.created | date: 'dd/MM/yyyy' }}</div>
        <div><b>Edited:</b> {{ details.edited | date: 'dd/MM/yyyy' }}</div>
        <div><b>Homeworld:</b> {{ details.homeworld }}</div>
        <div><b>Url:</b> {{ details.url }}</div>
    </ng-container>
</div>